html, body, table{
    font-family: "Dotum";
    font-size: 12px;
}
#container{
    display: flex;
    flex-wrap : wrap;
    justify-content: center;
}
.charbox {
    width: 370px;
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    float: left;
    margin: 3px;
}
.title {/* 타이틀바 색상 */
    height: 16px; 
    background: linear-gradient(to bottom, 
        rgb(181, 198, 222),
        rgb(173, 189, 222),
        rgb(206, 214, 239),
        rgb(181, 198, 231),
        rgb(181, 198, 239),
        rgb(156, 173, 222),
        rgb(165, 189, 231),
        rgb(156, 181, 231),
        rgb(189, 206, 247),
        rgb(173, 198, 247),
        rgb(206, 222, 255),
        rgb(189, 222, 247),
        rgb(222, 247, 255),
        rgb(198, 222, 247),
        rgb(214, 239, 255),
        rgb(0, 0, 0)
    );
    
}
.circle {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid rgb(41, 67, 121);
    background: linear-gradient(to bottom, 
        rgb(217, 226, 244),
        rgb(134, 162, 220),
        rgb(67, 111, 201),
        rgb(126, 156, 218),
        rgb(146, 172, 223),
        rgb(182, 199, 234),
        rgb(173, 193, 232)
    );
    float:left;
    margin: 2px 0px 0px 2px;
}
.charname{
    float:left;
    text-indent: 2px;
}

.lvltable{
    background-color: rgb(231,231,239);
    border-radius: 5px;
    padding: 2px;
    text-align: center;
}
.content .charinfo{
    float: left;
    width: 150px;
    padding: 4px;
}
.stattable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.statbox{
    width: calc(50% - 6px);
    margin: 3px 0;
}
.statbox:nth-child(1) { order: 1; }
.statbox:nth-child(2) { order: 3; }
.statbox:nth-child(3) { order: 5; }
.statbox:nth-child(4) { order: 7; }
.statbox:nth-child(5) { order: 9; }
.statbox:nth-child(6) { order: 11; }
.statbox:nth-child(7) { order: 2; }
.statbox:nth-child(8) { order: 4; }
.statbox:nth-child(9) { order: 6; }
.statbox:nth-child(10) { order: 8; }
.statbox:nth-child(11) { order: 10; }
.statbox:nth-child(12) { order: 12; }
.statname{
    width: 44%;
    display: inline-block;
    font-weight: bold;
    color: rgb(49, 74, 107);
    margin-left: 5px;
}
.statval{
    display:  inline-block;
    width: 38%;
    font-size: 11px;
    text-align: right;
    padding-right: 1px;
    border: 1px solid rgb(198,198,198);
    background-color: rgba(247,247,247);
}

.itembox{
    width: 24px;
    height: 28px;
}

.iteminfo{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
}
.itemgrade{
    position:absolute;
    margin-top: -12px;
}

.itembottom{
    margin-top: -12px;
    height: 10px;
    width: 24px;
    background-color: rgba(182, 199, 234, 0.5);
    border-radius: 100%;
    display:block;
}
.charimg{
    width : 80px; 
    height : 100px; 
    display : block;
    margin : auto;
}

.itemdesc { 
    position: absolute;
    display: none;
    margin-top: -40px;
    margin-left: 30px;
    background-color: rgba(0,0,0,0.5);
    color:white;
    padding: 5px;
}
.skillbox{
    margin-top: 5px;
    padding: 5px;
}

.split{
    margin-top: 10px;
    height: 20px;
    background:  linear-gradient(to bottom, 
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(247, 247, 247)
    );
    border-top: 1px solid rgba(198,198,198,1);
}
.skContainer{
    display: inline-block;
    justify-content: space-between;

    width: 30px;
    height: 30px;
}

.skillLv{
    display: inline-block;
    width: 12px;
    font-size: 12px;
    text-align: right;
    margin-left: -10px;
    text-shadow:
    1px 1px 0 #fff,
    -1px 1px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff;
}

#left{
    width: 200px;
}

#chartable{
    display:flow-root;
    float: left;
    width: 180px;
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    margin-top: 3px;
}
#chartable table{
    margin :auto;
    width: 100%;
}

#chartable table tr:nth-child(even){
    background-color: rgba(231, 239, 255, 1);
}

#chartable tr td{
    text-align: center;
}

.craftbox {
    width: 370px;
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    float: left;
    margin: 3px;
}

.craftinfo{
    width: 200px;
    height: 200px;
    background-image: url("../src/img/crafting/bg_lapine.png");
    background-repeat:no-repeat;
    background-position: center center;
    float: left;
}

.namecontainer{
    text-align: center;
    margin-top: 22%;
}


.resultimg{
    text-align: center;
}

.borderbox{
    width: 46px;
    height: 46px;
    margin: auto;
    margin-top: 20%;
    border: 1px solid rgba(132,148,206,1);
    border-radius: 6px;
}

.resultbox{
    width: 40px;
    height: 40px;
    border: 3px solid transparent;
    border-radius: 5px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #94bdef 0%, #f7ffff 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.resultbox:before{
    content: " ";
    position: absolute;
    margin-top: 18px;
    height: 10px;
    width: 24px;
    background-color: rgba(182, 199, 234, 0.5);
    border-radius: 100%;
    display:block;
    z-index: 0;
}

.resultbox img{
    margin: auto;
    width: 24px;
    height: 24px;
    z-index: 1;
}


.resultname{
    font-weight: 300;
    display: block;
    color: rgba(82,123,206,1)
}
.skillname{
    color: rgba(66,74,132,1)
}

.subinfo{
    background-color: rgba(247,247,255,1);
    border-left: 1px dashed rgba(128,128,128,0.5);
    display: flex;
    height: 220px;
}

.subTable{
    height: 24px;
}

.subTable tr td:nth-child(1){
    width: 24px;
    height: 26px;
}
.subTable tr td:nth-child(2){
    width: 105px;
}

.subTable tr td:nth-child(3){
    width: 35px;
    text-align: right;
}

.craftsplit{
    height: 20px;
    background:  linear-gradient(to bottom, 
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(247, 247, 247)
    );
    border-top: 1px solid rgba(198,198,198,1);
}

#chk{
    display:flow-root;
    float: left;
    width: 180px;
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    margin-top: 3px;
}
#checkbox-container table{
    margin: auto;
    width: 100%;
}

#checkbox-container table tr:nth-child(even){
    background-color: rgba(231, 239, 255, 1);
}

#craftsearch{
    width: 97%;
    border: 0px;
}
#craftsearch::placeholder {
    font-size: 12px;
}

.resultqty{
    position: absolute;
    margin-left: 26px;
    margin-top: 20px;
    z-index: 2;
}

.cntspan{
    color: rgba(0,0,0,0.5);
}

#itemDescript {
    width: 280px;
    background-color: white;
    border: 1px solid rgba(198,198,198,1);
    border-radius: 5px;
    z-index: 3;
    display: flex;
    min-height: 122px;
}

#title-holder{
    height: 22px;
    background: linear-gradient(to bottom, 
    rgb(255, 255, 255),
    rgb(231, 231, 231),
    rgb(255, 255, 255),
    rgb(231, 231, 231),
    rgb(255, 255, 255),
    rgb(231, 231, 231),
    rgb(255, 255, 255),
    rgb(231, 231, 231),
    rgb(255, 255, 255),
    rgb(231, 231, 231),
    rgb(255, 255, 255),
    rgb(231, 231, 231),
    rgb(255, 255, 255),
    rgb(231, 231, 231)
    );
    border-bottom: 1px solid rgb(198,198,198);
    position: static;
}

.item-container {
    padding: 0px
}

.item-container img{
    display: block;
    float: left;
    padding: 10px 3px 10px 10px;
    filter: drop-shadow(2px 2px 0 #999);
}

.item-desc{
    width: 182px;
    padding: 5px;
    float: right;
    margin-top: -22px;
}
.item-title{
    padding: 0px 0px 7px 0;
}

.item-desc-text{
    padding: 5px 0px 0px 5px;
}


/* refining style */
.refinebox  {
    display:flow-root;
    float: left;
    width: 180px;
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    margin-top: 3px;
}

.radio-group label {
    display: block;
    margin-left: 35px; /* 개별 라벨의 들여쓰기 */
}

#refinerate{
    text-align: right;
}
#refinecontainer{
    display: block;
    align-content: center;
}

#refineresultinfo{
    display:block;
    position:fixed;
    right: 5%;
    top: 5%;
}
.refineresultinfo  {
    display:flow-root;
    width: 320px;
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    margin-top: 3px;
    
}
#refinerate{
    text-align: center;
}

.history-table{
    border-collapse: collapse;
    margin: 25px 0;
    text-align: center;
    border: 1px solid rgb(198,198,198);
}

.history-table tr:nth-child(even){
    background-color: rgba(231, 239, 255, 1);
}

.history-table tr td:nth-child(1){
    width: 20px;
}

.history-table tr td:nth-child(2){
    width: 60px;
}

.history-table tr td:nth-child(3){
    width: 80px;
}