*{
    cursor: url(./cursor.gif), auto;
}
* img:hover{
    cursor: url(./hover.gif), auto;
}

* a:hover{
    cursor: url(./hover.gif), auto;
}

* input:hover{
    cursor: url(./hover.gif), auto;

}

html, body, table{
    font-family: "Dotum";
    font-size: 12px;
}

footer{
    position:fixed;
    bottom:0;    
    font-family: "Dotum";
}

footer table{
    border-collapse: collapse;
}

.footer{
    color: white;
    background-color: rgb(127,127,127);
   
    
}

.chattitle{
    width: 70px;
    text-align: center;
    border-radius: 3px 3px 0 0;
}

.chatbox{
    padding-left: 3px;
    width: 540px;
    border-radius: 0 3px 0 0;
}

footer a{
    color: rgb(231,247,132);
    text-decoration: none;
}


#left{
    width: 200px;
    position:fixed;
}
#container{
    display: flex;
    flex-wrap : wrap;
    justify-content: center;
    margin-left: 200px;
}
.titlebar {/* 타이틀바 색상 */
    height: 16px; 
    background: linear-gradient(to bottom, 
        rgb(181, 198, 222),
        rgb(173, 189, 222),
        rgb(206, 214, 239),
        rgb(181, 198, 231),
        rgb(181, 198, 239),
        rgb(156, 173, 222),
        rgb(165, 189, 231),
        rgb(156, 181, 231),
        rgb(189, 206, 247),
        rgb(173, 198, 247),
        rgb(206, 222, 255),
        rgb(189, 222, 247),
        rgb(222, 247, 255),
        rgb(198, 222, 247),
        rgb(214, 239, 255),
        rgb(0, 0, 0)
    );
    
}
.circle {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid rgb(41, 67, 121);
    background: linear-gradient(to bottom, 
        rgb(217, 226, 244),
        rgb(134, 162, 220),
        rgb(67, 111, 201),
        rgb(126, 156, 218),
        rgb(146, 172, 223),
        rgb(182, 199, 234),
        rgb(173, 193, 232)
    );
    float:left;
    margin: 2px 0px 0px 2px;
}
.split{
    height: 20px;
    background:  linear-gradient(to bottom, 
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(247, 247, 247)
    );
    border-top: 1px solid rgba(198,198,198,1);
}


/* ./rag */
#chartable{
    display:flow-root;
    float: left;
    width: 180px;
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    margin-top: 3px;
}
#chartable table{
    margin: auto;
    width: 100%;
}
#chartable table tr:nth-child(even){
    background-color: rgba(231, 239, 255, 1);
}

#chartable tr td{
    text-align: center;
}

.charcontent {
    margin-bottom: 10px;
}

.charbox {
    width: 370px;
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    float: left;
    margin: 3px;
}

.charname{
    float:left;
    text-indent: 2px;
}

.charlvl{
    background-color: rgb(231,231,239);
    border-radius: 5px;
    padding: 2px;
    text-align: center;
}
.charinfo{
    float: left;
    width: 150px;
    padding: 4px;
}
.charstat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.statbox{
    width: calc(50% - 6px);
    margin: 3px 0;
}
.statbox:nth-child(1) { order: 1; }     /* STR */
.statbox:nth-child(2) { order: 3; }     /* AGI */
.statbox:nth-child(3) { order: 5; }     /* VIT */
.statbox:nth-child(4) { order: 7; }     /* INT */
.statbox:nth-child(5) { order: 9; }     /* DEX */
.statbox:nth-child(6) { order: 11; }    /* LUK */
.statbox:nth-child(7) { order: 2; }     /* POW */
.statbox:nth-child(8) { order: 4; }     /* STA */
.statbox:nth-child(9) { order: 6; }     /* WIS */
.statbox:nth-child(10) { order: 8; }    /* SPL */
.statbox:nth-child(11) { order: 10; }   /* CON */
.statbox:nth-child(12) { order: 12; }   /* CRT */

.statname{
    width: 44%;
    display: inline-block;
    font-weight: bold;
    color: rgb(49, 74, 107);
    margin-left: 5px;
}
.statval{
    display:  inline-block;
    width: 38%;
    font-size: 11px;
    text-align: right;
    padding-right: 1px;
    border: 1px solid rgb(198,198,198);
    background-color: rgba(247,247,247);
}

.itembox{
    width: 24px;
    height: 28px;
}

.iteminfo{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
}
.itemgrade{
    position:absolute;
    margin-top: -12px;
}

.itembottom{
    margin-top: -12px;
    height: 10px;
    width: 24px;
    background-color: rgba(182, 199, 234, 0.5);
    border-radius: 100%;
    display:block;
}
.charimg{
    width : 80px; 
    height : 100px; 
    display : block;
    margin : auto;
}

.itemdesc { 
    position: absolute;
    display: none;
    margin-top: -40px;
    margin-left: 30px;
    background-color: rgba(0,0,0,0.5);
    color:white;
    padding: 5px;
    z-index: 10;
}

/* ./crafting */
#chk{
    display:flow-root;
    float: left;
    width: 180px;
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    margin-top: 3px;
}
#checkbox-container table{
    margin: auto;
    width: 100%;
}

#checkbox-container table tr:nth-child(even){
    background-color: rgba(231, 239, 255, 1);
}

#craftsearch{
    width: 97%;
    border: 0px;
}
#craftsearch::placeholder {
    font-size: 12px;
}

.craftbox {
    width: 370px;
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    float: left;
    margin: 3px;
}

.craftinfo{
    width: 200px;
    height: 200px;
    background-image: url("../src/img/crafting/bg_lapine.png");
    background-repeat:no-repeat;
    background-position: center center;
    float: left;
}

.craftname{
    text-align: center;
    margin-top: 22%;
}

.borderbox{
    width: 46px;
    height: 46px;
    margin: auto;
    margin-top: 20%;
    border: 1px solid rgba(132,148,206,1);
    border-radius: 6px;
}

.resultbox{
    width: 40px;
    height: 40px;
    border: 3px solid transparent;
    border-radius: 5px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #94bdef 0%, #f7ffff 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}
.resultbox:before{
    content: " ";
    position: absolute;
    margin-top: 18px;
    height: 10px;
    width: 24px;
    background-color: rgba(182, 199, 234, 0.5);
    border-radius: 100%;
    display:block;
    z-index: 0;
}
.resultbox img{
    margin: auto;
    width: 24px;
    height: 24px;
    z-index: 1;
}

.resultname{
    font-weight: 300;
    display: block;
    color: rgba(82,123,206,1)
}
.skillname{
    color: rgba(66,74,132,1)
}

.subinfo{
    background-color: rgba(247,247,255,1);
    border-left: 1px dashed rgba(128,128,128,0.5);
    display: flex;
    height: 220px;
}

.subTable{
    height: 24px;
}

.subTable tr td:nth-child(1){
    width: 24px;
    height: 26px;
}
.subTable tr td:nth-child(2){
    width: 105px;
}

.subTable tr td:nth-child(3){
    width: 35px;
    text-align: right;
}

.resultqty{
    position: absolute;
    margin-left: 26px;
    margin-top: 20px;
    z-index: 2;
}

.cntspan{
    color: rgba(0,0,0,0.5);
}

#itemdescript {
    width: 280px;
    background-color: white;
    border: 1px solid rgba(198,198,198,1);
    border-radius: 5px;
    z-index: 3;
    display: flex;
    min-height: 122px;
}

#desctitle{
    height: 22px;
    background: linear-gradient(to bottom, 
    rgb(255, 255, 255),
    rgb(231, 231, 231),
    rgb(255, 255, 255),
    rgb(231, 231, 231),
    rgb(255, 255, 255),
    rgb(231, 231, 231),
    rgb(255, 255, 255),
    rgb(231, 231, 231),
    rgb(255, 255, 255),
    rgb(231, 231, 231),
    rgb(255, 255, 255),
    rgb(231, 231, 231),
    rgb(255, 255, 255),
    rgb(231, 231, 231)
    );
    border-bottom: 1px solid rgb(198,198,198);
    position: static;
}

.desccontainer {
    padding: 0px
}

.desccontainer img{
    display: block;
    float: left;
    padding: 10px 3px 10px 10px;
    filter: drop-shadow(2px 2px 0 #999);
}

.descdiv{
    width: 182px;
    padding: 5px;
    float: right;
    margin-top: -22px;
}
.desctitle{
    padding: 0px 0px 7px 0;
}

.desctext{
    padding: 5px 0px 0px 5px;
}


/* ./refining */
.refinebox  {
    display:flow-root;
    float: left;
    width: 180px;
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    margin-top: 3px;
}

.radio-group label {
    display: block;
    margin-left: 35px;
}

#refinerate{
    text-align: right;
}
#refinecontainer{
    display: block;
    margin-left: 170px;
    float: left;
}

#refineinfo{
    margin-left: 450px;
}


.refineresultinfo {
    width: 320px;
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    margin-top: 3px;
    
}

#refinerate{
    text-align: center;
}

.refinehistory{
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    width: 425px;
}

.refinetable{
    border-collapse: collapse;
    text-align: center;
}

.refinetable tr:nth-child(even){
    background-color: rgba(231, 239, 255, 1);
}


.table-container {
    margin: 0 10px;
    border: 1px solid rgb(198, 198, 198);
    width: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

#refineimg {
    width: 260px;
    background-image: url('../src/img/refining/bg_refining_wait.png');
    border-collapse: separate;
    border-spacing: 3px; /* Gutter of 5px */
    
}
#refineimg img{
    padding: 0px;
}

.title-row td {
    font-weight: bold;
    
}

/* Editable row heights */
.row-1 { height: 10px; }
.row-1 td { 
    text-align: center; 
    padding-top: 10px;
}

.row-2 { height: 52px; }
.row-3 { height: 85px; }
.row-4 { 
    height: 50px; 
    text-align: center;
}
.row-5 td { text-align: center;}

.btn_container{
    position: relative;
    width: 46px; /* Adjust width to fit the images */
    height: 52px; /* Adjust height to fit the images */
}

.btn_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Lower z-index for the first image */
}

.btn_blessing {
    position: absolute;
    top: 14px;
    left: 10px;
    z-index: 2; /* Higher z-index for the second image */
}
.btn_evt{
    position: absolute;
    top: 15px;
    left: 3px;
    z-index: 2; /* Higher z-index for the second image */
}

.topbtn{
    opacity: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 3;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin: 0;
}

.trybtn {
    font-family: "Dotum";
    font-size: 12px;
    font-weight: bold;
    width: 95px;
    height: 32px;
    border: 1px solid rgb(102, 110, 113); /* Border color */
    border-radius: 3px;
    background: linear-gradient(to bottom,
        rgb(255, 255, 255) 0%,
        rgb(142, 187, 242) 25%,
        rgb(87, 111, 197) 100%
    ); /* Gradient from first to last color */
}

.trybtn:active {
    width: 95px;
    height: 32px;
    border: 1px solid rgb(102, 110, 113); /* Border color */
    border-radius: 3px;
    background: linear-gradient(to bottom,
        rgb(103, 132, 208) 0%,
        rgb(109, 142, 213) 25%,
        rgb(118, 156, 219) 100%
    ); /* Gradient from first to last color */
}

input[type="radio"]:checked + label .btn_bg {
    content: url('../src/img/refining/slot_select_blue0.png');
}

/* simulator */
#joblist{
    display:flow-root;
    float: left;
    width: 180px;
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    margin-top: 3px;
}
#joblist table{
    margin: auto;
    width: 100%;
}
#joblist tr td{
    text-align: center;
}

#joblist img:hover{
    cursor: pointer;
}

.classIcon { 
    opacity: 0.5;
}

.active { 
    opacity: 1;
}

#tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 7px;
    border-radius: 3px;
    font-size: 12px;
    pointer-events: none; 
    transform: translate(-50%, -150%);
    white-space: nowrap;
    display: none;
    z-index: 10;
}

#simulatorContainer{
    margin-left: 200px;
}

#charContainer{
    display: flex;
    clear: both;
    justify-content: space-between;
}

#charInfo{
    float: left;
}


#charInfo table{
    border: 1px solid rgb(206,206,206);
    border-collapse: collapse;
    width: 205px;
}

#HSPContainer table{
    border-collapse: collapse;
    border: 0px;
}

#HSPContainer table tr td:nth-child(1){
    width: 55px;
    text-indent: 10px;
}

#HSPContainer table tr td:nth-child(2){
    
    text-align: center;
}
.HSPBar{
    border: 1px solid rgb(206,206,206);
    border-radius: 50px;
    background-color: rgba(156, 181, 239, 0.5);
    display: block;
    height: 12px;
}
.APBar{
    border: 1px solid rgb(206,206,206);
    border-radius: 50px;
    background-color: rgba(255, 73, 49, 0.3);
    display: block;
    height: 12px;
}

#lvContainer{
    margin: 5px;
    padding: 3px;
    background-color: rgba(231,231,239,1);
    border-radius: 8px;
}

#lvContainer table{
    border-collapse: collapse;
    border: 0px;
}
#lvContainer table tr td:nth-child(1){
    width: 55px;
}

#charName{
    border: 0px;
    font-family: "Dotum"
}


.quickslot{
    border: 1px solid rgb(198,198,198);
    border-radius: 3px;
    padding: 1px 10px;
    background: linear-gradient(to bottom, 
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247)
);
}

.quickslot tr td{
    border: 1px solid rgb(198,198,198);
    width: 24px;
    height: 24px;
    background-color: white;
    text-align: center;
    font-size: 2px;
    padding: 0px;
}

.quickslot tr td img{
    width: 24px;
    height: 24px;
}



input[type="number"]{
    background: transparent;
    border: hidden;
    padding: 0;
    width: 30px;
    text-align:right;
    font-size: 12px;
    font-family: 'dotum';
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#equipmentContainer{
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    align-items:center;
    justify-content: space-between;
}

.equipmentBox{
    width: 150px;
    height: 30px;
    font-size: 12px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid rgb(198,198,198);
}

.equipmentBox-selected {
    display: flex;
    align-items: center;
}

.equipmentBox-selected img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.equipmentBox-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 10;
}

.equipmentBox-option {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    cursor: pointer;
}

.equipmentBox-option img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}


.equipmentBox-option:hover {
    background-color: rgba(134, 162, 220, 0.3);
}

#leftHand{
        text-align: right;
        direction: rtl;
}

#charImg{
    text-align: center;
    width: 100%;
}



.classtdContainer{
    width: 110px;
    height: 10px;
}

#statusContainer{
    float: left;
    width: 500px;
}

#charStatus{
    float: left;
    clear: both;
}

#charStatus table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgba(128,128,128,0.5);
}
#charStatus table .stBlank{
    width: 5px !important;
}

#charStatus table .statusInc{
    color: #adbde7;
    -webkit-text-stroke:0.5px #6b737b;
    width: 10px;
    text-align:center;
}
#charStatus table .statusJobBonuses{
    color: rgba(128, 128, 128, 1);
    text-align: right;
}
#charStatus table td{
    width: 30px;
    font-family: "Dotum";
    font-size: 1em;
    text-align: right;
    padding: 1px;
}
#charStatus .stBorderT{
    border-top: 1px solid rgba(198,198,198,1);
    height: 2px;
}
#charStatus .stBorderB{
    border-bottom: 1px solid rgba(198,198,198,1);
}
#charStatus .stBorderL{
    border-left: 1px solid rgba(198,198,198,1);
}
#charStatus .stBorderR{
    border-right: 1px solid rgba(198,198,198,1);
}
#charStatus .stPlus{
    width: 5px;
}

#charStatus .stBG{
    background-color: rgba(240,240,240,0.5);
}

#charStatus .statusName{
    font-weight: bold;
    text-align: left;
}

#charStatus .statusTitle{
    text-align: left;
}

.statbonus{
    width: 12px !important;
    color: rgba(128, 128, 128, 1);
}

.statusScript{
    display: none;
}

#charStatus #TstatusName{
    background: linear-gradient(to bottom, 
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
);
}
#skillContainer{
    float: left;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#skillContainer.grid{
    grid-template-columns: 1fr;
}

.jobContainer{
    border: 10px;
    padding: 2px;
    border: 1px solid rgb(198,198,198);
    border-radius: 5px;
}

.jobName{
    font-weight: bold;
    background: linear-gradient(to bottom, 
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
);
}


.skillTable{
    border: 1px solid rgb(198,198,198);
}

.skillBlock{
    display: table-cell;
    vertical-align: middle;
    width: 70px;
    height: 60px;
    text-align: center;
    border-radius: 5px;
}

.skillBlock:hover{
    background-color: rgba(67, 111, 201, 0.3);
}




.skillBlock .skillName{
    font-size: 11px;
    color: rgb(99,99,99);
}

.skillBlock .skillLevel{
    font-weight: bold;
    font-size: 11px;
    color: rgb(99,99,99);
}

.totalSkillPoints{
    text-align: right;
    background: linear-gradient(to bottom, 
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(247, 247, 247),
    rgb(247, 247, 247),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
);
}

.ragbtn{
    float: right;
    background: linear-gradient(to bottom, 
    rgb(222,222,222),
    rgb(239,239,239),
    rgb(239,239,239),
    rgb(247,247,247),
    rgb(222,222,222),
    rgb(239,239,239),
    rgb(239,239,239),
    rgb(247,247,247),
    rgb(247,247,247),
    rgb(255,255,255),
    rgb(255,255,255),
    rgb(255,255,255),
    rgb(255,255,255),
    rgb(255,255,255),
    rgb(255,255,255),
    rgb(247,247,247),
    rgb(255,255,255)
    );
    border: 1px solid rgb(173,173,173);
    border-radius: 3px;
    height: 22px;
}
.ragbtn:hover{
    background: linear-gradient(to bottom, 
    rgb(198,206,222),
    rgb(206,214,239),
    rgb(198,214,239),
    rgb(189,206,239),
    rgb(165,181,214),
    rgb(173,189,231),
    rgb(165,189,231),
    rgb(165,189,231),
    rgb(165,189,239),
    rgb(165,189,239),
    rgb(173,198,247),
    rgb(173,198,247),
    rgb(181,206,247),
    rgb(181,206,247),
    rgb(206,222,255),
    rgb(206,222,255),
    rgb(222,231,247)
    );
}
.ragbtn:active{
    margin: 1px 0 0 1px;
    background: linear-gradient(to bottom, 
    rgb(198,206,222),
    rgb(206,214,239),
    rgb(198,214,239),
    rgb(189,206,239),
    rgb(165,181,214),
    rgb(173,189,231),
    rgb(165,189,231),
    rgb(165,189,231),
    rgb(165,189,239),
    rgb(165,189,239),
    rgb(173,198,247),
    rgb(173,198,247),
    rgb(181,206,247),
    rgb(181,206,247),
    rgb(206,222,255),
    rgb(206,222,255),
    rgb(222,231,247)
    );
}

#SkillDescriptionChk{
    position:absolute;
    margin-left: 450px;
    padding-bottom: 2px;
}
#skillDescription{
    width: 280px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(198,198,198);
    padding: 7px;
    line-height: 16px;
}